
@{
    ViewData["Title"] = "My Clients";
}

<div class="m-sm-auto align-content-right">
    <a asp-controller="Clients" asp-action="Create">Create New</a>
</div>
<div>
    <h2>Your Clients</h2>
    @{
        foreach (var client in ViewBag.ClientList)
        {
            <div>
                <h4><a asp-controller="MyClients" asp-action="ClientProfile" asp-route-id="@client.ClientId"> @client.FirstName @client.LastName </a></h4>
            </div>
        }
    }

</div>
