@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center" style="text-decoration-style:wavy">
        <h1 class="display-4">Welcome to TrainersDelight!</h1>
        <h1 class="display-4">The home for the Trainers that care!</h1>
    </div>    
</body>

